@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #C5C6C7;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100vh;
    transition: transform 0.5s ease-in;
    width: 300px;
    position: absolute;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    font-weight: bolder;
    padding: 33px 0;
}
.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.sidebarGo {
    transform: translate(-443px, 0);
    position: absolute;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 20px;
    left: 20px;
}

.cross {
    margin-left: 230px;
}

.main{
    background-color: #0C0B10;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
}


/* Mobile optimisation  */
@media (max-width: 500px) {

    .sidebar {
        width: 430px;
    }

    .cross {
        margin-left: 350px;
    }
}
